<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" href="/imgs/techscapelogo.png">
  <title>Login</title>
  <link rel="stylesheet" href="/css/login.css" />
</head>

<body>
  <div class="center">
    <div class="form">
      <h1>Login</h1>
      <div class="error message"></div>

      <form>
        <div class="txt-field">
          <input type="text" name="username" id="username" required />
          <span></span>
          <label for="username">Username</label>
        </div>

        <div class="txt-field">
          <input type="password" name="password" id="password" required />
          <span></span>
          <label for="password">Password</label>
        </div>

        <button class="submit" type="submit">Login</button>
      </form>
    </div>

    <script>
      const form = document.querySelector("form");
      const errorMessage = document.querySelector(".error.message");

      form.addEventListener("submit", async (e) => {
        e.preventDefault();

        // Reset errors
        errorMessage.textContent = "";

        // get the values
        const username = form.username.value;
        const password = form.password.value;

        try {
          const res = await fetch("/login", {
            method: "POST",
            body: JSON.stringify({
              username,
              password
            }),
            headers: {
              "Content-Type": "application/json"
            },
          });

          const data = await res.json();

          if (data.errors) {
            errorMessage.textContent = "Wrong username or password";
          }

          if (data.user) {
            location.assign("/");
          }
        } catch (error) {}
      });
    </script>
  </div>
</body>

</html>